body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
.yellow {
  color: yellow;
}
.container {
  padding: 20px;
  min-height: 100vh;
  background: #ccc;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
#imageContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin: 20px auto;
}

.imageWrapper {
  flex-basis: calc(25% - 5px);
}
button {
  border: none;
  color: yellow;
  background: none;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  cursor: pointer;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.selected {
  border: 3px solid yellow;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.overlay-text {
  color: yellow;
  font-size: 24px;
  text-align: center;
  display: flex;
  align-items: center;
}

@media (min-width: 480px) {
  #imageContainer {
    width: 30%;
  }
  .title {
    flex-direction: row;
  }
}

.success-icon,
.fail-icon {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  display: block;
}

.success-icon {
  background-image: url('./images/icon/success.png');
  background-size: 100% 100%;
}

.fail-icon {
  background-image: url('./images/icon/fail.png');
  background-size: 100% 100%;
}
