body{
    background-color: rgb(219, 219, 219);
    text-align:center
}
p{
    color: rgb(0, 0, 0);
    text-align:center
}
a{
    color: rgb(0, 0, 0);
    text-align:center
}
.highlight {
    color: yellow;
  }