.container {
    background-color: antiquewhite;
	display: flex;
    padding:0;
    margin:0;
    width:600px;
    margin:50px auto;
    border:1px inset black;
}
.item{
    background: white;
    border: 1px solid black;

    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;}