
        body {
            margin: 0;
        }

        /* grid container */
        .container {
            padding: 0;
            margin: 0;
            width: 700px;
            height: 650px;
            margin: 50px auto;
            border: 1px inset black;

            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 80px auto 80px;
            /* grid-template-areas:
                "header header header header"
                "main main main sidebar"
                "footer footer footer footer"; */
        }

        /* grid items */
        .item {
            background: beige;
            border: 1px inset black;
            padding: 10px;
            font-size: 16px;
            font-style:sans-serif ;
            line-height: 1.2
    ;
        }

        .header {
            grid-column: 1 / 5;
            grid-row: 1 / 3;
        }
        .main {
            grid-column: 1 / 2;
            grid-row: 2 / 4;
        }
        .sidebar {
            grid-column: 2/ 5;
            grid-row: 2 / 4;
        }
        .footer {
            grid-column: 1 / 5;
            grid-row: 4 / 5;
        }

        /* .header { grid-area: header; }
        .main { grid-area: main; }
        .sidebar { grid-area: sidebar; }
        .footer { grid-area: footer; } */
       
