body {
    width: 800px;}
#orange {
        width: 120px;
        height: 100px;
        position: absolute;
        top: 450px;
        left: 700px;
      }
#orange1:hover {
        /* 当鼠标悬停在 #orange 元素上时，应用下列样式规则 */
        transform: scale(1.2); /* 放大 1.2 倍 */
      }
#orange2 {
        width: 120px;
        height: 100px;
        position: absolute;
        top: 100%;
        left: 160px;
        background: #eb5bb4;
        border-radius: 130px 130px 200px 200px;
        border: 0px solid #000000;
        transition: transform 0.3s ease-out;
      }
    #orange1 {
        width: 120px;
        height: 100px;
        top: 10%;
        left: 140px;
        position: absolute;
        background: #e61c99;
        border-radius: 130px 130px 200px 200px;
        border: 0px solid #000000;
      }
      #orange3 {
        width: 120px;
        height: 100px;
        position: absolute;
        top: 20%;
        left: 340px;
        background: #ffabdf;
        border-radius: 130px 130px 200px 200px;
        border: 0px solid #000000;
      }
      #orange2:hover {
        /* 当鼠标悬停在 #orange 元素上时，应用下列样式规则 */
        transform: scale(1.2); /* 放大 1.2 倍 */
      }
      #orange3:hover {
        /* 当鼠标悬停在 #orange 元素上时，应用下列样式规则 */
        transform: scale(1.2); /* 放大 1.2 倍 */
      }


